[submodule "lib/DolRecomp"]
	path = lib/DolRecomp
	url = https://github.com/ExpansionPak/DolRecomp.git
[submodule "lib/ModernGekko"]
	path = lib/ModernGekko
	url = https://github.com/ExpansionPak/ModernGekko.git
