[submodule "lib/DolRecomp"]
	path = lib/DolRecomp
	url = https://github.com/thebardockgames/DolRecomp.git
[submodule "lib/ModernGekko"]
	path = lib/ModernGekko
	url = https://github.com/thebardockgames/ModernGekko.git
	branch = native-render-pipeline
